.conteiner {
  position: absolute;
  top: 60%;
}

.frame {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80%;
}

.input-block {
  display: flex;
  margin-top: 1%;
  margin-left: 3.5%;
  width: 92%;
  justify-content: space-around;
}

.chat-input {
  width: 55%;
  padding: 1% 1%;
  border: 5px solid #bad7ec; 
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:100%;
}

.chat-btn {
  width: 19%;
  background-color:#bad7ec;
  border-color: #bad7ec;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:90%;
  cursor: pointer;
}

.chat-btn:active {
  border: 10px;
}

.chat-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  border: 5px solid #bad7ec; 
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 4%;
}

.chat {
  margin-bottom: 1%;
  width: 95%;
  height: 99%;
  overflow-y: auto;
  overflow-x: hidden;
}

p {
  color: black;
  margin-bottom: -1%;
}

.chat-text {
  display: inline-block;
  border: 5px solid #bad7ec; 
  border-radius: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:100%;
  padding: 2%;
  max-width: 80%;
  text-align: left;
}

.serv-message {
  display: flow-root;
  text-align: right;
}

.serv-block {
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;

  display: flex;
  margin: 5px 10px;
  padding: 10px 15px;
  border-radius: 1px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: white;
  background: #315efb;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
  transform: scale(1.05);
}